@import 'spinner';

body {
  margin-bottom: 10px;
}

textarea.new-blurb {
  display: inline-block;
  height: 74px;
  resize: none;
}

.login-link {
  cursor: pointer;
}

#username {
  color: black;
}

.blurb-input {
  position: relative;

  .characters-remaining {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(216, 216, 216);
    border-radius: 4px;
    padding: 2px 5px;

    &.too-many-chars {
      color: red;
    }
  }
}

.blurb {
  .date {
    font-size: 0.8em;
  }
}

.blurb-row {
  margin-top: 20px;
}

.blurb-list {
  padding-left: 0;

  .comment-row & {
    margin-top: 25px;
  }

  .blurb {
    list-style: none;
    margin-bottom: 10px;

    .blurb-message {

    }

    .blurb-date {
      font-size: 0.8em;
      color: rgb(163, 163, 163);
    }

    a {

    }
  }
}
