@import '../bower_components/angular-motion/dist/angular-motion.min.css'
@import '../bower_components/bootstrap/dist/css/bootstrap.css'

body {
  margin-bottom: 10px;
}

textarea.new-blurb {
  display: inline-block;
  height: 74px;
  resize: none;
}

.login-link {
  cursor: pointer;
}

#username {
  color: black;
}

.blurb-input {
  position: relative;

  .characters-remaining {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(216, 216, 216);
    border-radius: 4px;
    padding: 2px 5px;

    &.too-many-chars {
      color: red;
    }
  }
}

.blurb {
  .date {
    font-size: 0.8em;
  }
}

.blurb-row {
  margin-top: 20px;
}

.blurb-list {
  padding-left: 0;

  .comment-row & {
    margin-top: 25px;
  }

  .blurb {
    list-style: none;
    margin-bottom: 10px;

    .blurb-message {

    }

    .blurb-date {
      font-size: 0.8em;
      color: rgb(163, 163, 163);
    }

    a {

    }
  }
}

.spinner {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
