<div class="row">
  <div class="col-md-6 top-blurb">
    <div class="blurb well">
      <h4 class="username">{{ blurb.username || "Anonymous" }} says…</h3>
      <h2 class="message">{{ blurb.message }}</h2>
      <a class="date" ng-href="/blurbs/{{ blurb._id }}/comments">{{ blurb.created_at | date:'medium' }}</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 comment-row">
    <h4>Add a comment…</h4>
    <form ng-submit="submit()">
      <div class="blurb-input">
        <textarea class="form-control new-blurb"
          rows="3"
          ng-model="message"
        ></textarea>
        <div
          class="characters-remaining"
          ng-class="{'too-many-chars': message.length > 140}"
        >
          {{ 140 - message.length }}
        </div>
      </div>
      <button class="btn btn-default" type="submit">submit</button>
    </form>

    <ul class="blurb-list">
      <li ng-repeat="comment in comments" class="blurb">
        <div class="blurb-message">{{ comment.message }}</div>
        <div class="blurb-date">{{ comment.created_at | date:'medium' }}</div>
      </li>
    </ul>
  </div>
</div>
